body{
  padding: 0;
  margin: 0;
  background: #e0e0e0;
  color: #52514c;
}

.pws-container{
  padding: 0 20px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  color: #3b3a36;
}

.tips-container{
  width: 50%;
  height: auto;
  text-align: center;
  margin-bottom: 1%;
}

.header{
  width: 100%;
  text-align: center;
  margin: 2% 0;
}

.input-container{
  height: 100%;
  width: 50%;
  padding: 0 15px 0px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
}

.pw-content{
  width: 60%;
  text-align: center;
}

.pw-input{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-top: 20px;
  background-color: #f0f0f0;
  font-size: 15px;
}

.pw-input input{
  padding-left: 30px;
  text-align: center;
  border: none;
  width: 100%;
  background-color: #f0f0f0;
}

input[type=password]:focus{
  outline: none;
}

input[type=text]:focus{
  outline: none;
}

.pw-input p{
  opacity: 0.5;
  font-size: 12px;
  margin: 10px 10px;
}

.indicator-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5%;
}

.strength-indicator{
  height: 10px;
  width: 19%;
  border-radius: 15px;
}

.tips-for-pw{
  font-size: 15px;
  height: auto;
}

.pw-comment{
  font-size: 17px;
  text-align: center;
  margin-bottom: 5%;
}

.results-header{
  background-color: #cfcfcf;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  padding: 10px;
}

.text-suggestions{
  width: auto;
  background-color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4% 0;
}

.text-suggestions ul{
  margin: 0;
  padding: 0;
}

.tips-box{
  width: 30%;
  margin-bottom: 2%;
}

@media (max-width:1350px) {
  .tips-box{
    width: 50%;
  }
}

@media (max-width:850px) {
  .tips-box{
    width: 80%;
  }

  .input-container{
    width: 80%;
  }
}

@media (max-width:600px) {
  .tips-box{
    width: 100%;
  }
  .text-suggestions ul{
    width: 80%;
  }
  .input-container{
    width: 100%;
  }
  .pw-content{
    width: 80%;
  }
}